.body{
    background-color: white;
}

.header{
    text-align: center;
    position: sticky;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: yellow;
    background-color: black;
    z-index: 1000;
    width: 100%;
    border-radius: 5px;
}

.header>h1{
    padding: 5px;
}

.form {
    display: flex;
    color: black;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    margin: 2rem auto;
    padding: 2px;
    border-radius: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
    font-weight: bold;
    margin: 1rem;
    width: 15%;
}

.form > button {
    color: yellow;
    background-color: black;
    font-size: 1rem;
    margin: 1rem;
    width: 10%;
}

.form > input {
    background-color: rgb(224, 224, 224);
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    width: 20%;
    margin: 0.5rem auto;
    border-radius: 5px;
}

button{
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 4px 4px;
    width: fit-content;
    border-radius:4px ;
    margin: 0.4rem auto;
}

.buttons-box{
    display: flex;
    flex-direction: column;
}

.buttons-box>button{
    width: 40px;
}

.buttons-box>button.UP{
    background-color: yellow;
    color: black;
    font-weight: bold;
    border: 2px solid yellow;
    border-radius: 4px;
}

.floor-number {
    text-align: center;
}

.buttons-box>button.DN{
    background-color: black;
    color: yellow;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 4px;
}

.floor{
    border-bottom: 1px solid black;
    max-height: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    margin: 10px;
    z-index: 1;
}

.lift{
    background-color: yellow;
    color: white;
    height: 80px;
    max-height: 80px;
    width: 60px;
    z-index: 2;
    position: absolute;
    left:50px;
    display: flex;
    border: 1px solid black;
    border-radius: 4px;
    overflow: hidden;
    padding: 0;
}

.door{
    border: 1px solid rgb(0, 0, 0);
    
    background-color: black;
    width: 40px;
}

@media screen and (max-width: 800px) {
    body{
        width: 100%;
    }

    .form {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    label,
    .form > input,
    .form > button {
        width: 80%;
        margin: 0.5rem 0;
    }
}